/* ====== TEXT ========== */
h1{
    text-align: center;
    margin-bottom: 1%;
    font-size: 36px;
}
h2{
    font-size: 32px;
    color: rgb(180, 77, 3);
    text-align: center;
    margin: 2%;
}
h3{
    font-size: 28px;
    text-align: center;
    margin-top: 15px;
    color: rgb(224, 85, 34);
}
h4{
    font-size: 24px;
    color: rgb(93, 88, 88);
    text-align: center;
    margin-top: 15px;
}
h5{
    font-size: 22px;
    color: rgb(97, 56, 115);
    text-align: center;
}
h6{
    font-size: 20px;
    color: rgb(97, 56, 115);
    text-align: center;
    /* margin-top: 10px; */
}
.p{
    font-size: 28px;
    margin-top: 5px;
}

p{
    margin-top: 5px;
}

.blue{
    color: blue;
}
.red{
    color: red;
}
.green{
    color: rgb(213, 7, 155);
}
 a{
    font-size: 20px;
 }
 ol{
    font-size: 26px;
 }

 .p18{
    font-size: 18px;
}
p{
    font-size: 20px;
}
.p20{
    font-size: 20px;
}
.p22{
    font-size: 22px;
}
.p24{
    font-size: 24px;
}
.centr{
    text-align: center;
}
ul{
    font-size: 22px;
    color: rgb(76, 73, 73);
    padding: 20px;
    margin-left: 30px;
}

li{
    font-size: 20px;
    color: rgb(76, 73, 73);

}
.left{
    margin-left: 100px;
}
p,li{
    line-height: 1.3;
}

/* tablica poisk */
#productsTable{
    font-size: 17px;
    width: 100%;
  table-layout: fixed;   /* ключевая строка */
  border-collapse: collapse;
  
}

#productsTable th,
#productsTable td {
  padding: 5px;
  
  /* перенос текста */
  white-space: normal;     /* разрешает перенос */
  word-wrap: break-word;   /* старое, но работает */
  overflow-wrap: break-word; /* современное */
}


#productsTable th:nth-child(1),
#productsTable td:nth-child(1) {
  width: 15%;
}

#productsTable th:nth-child(2),
#productsTable td:nth-child(2) {
  width: 15%;
}

#productsTable th:nth-child(3),
#productsTable td:nth-child(3) {
  width: 9%;
  font-size: 16px;
}

#productsTable th:nth-child(4),
#productsTable td:nth-child(4) {
  width: 14%;
  font-size: 16px;
}

#productsTable th:nth-child(5),
#productsTable td:nth-child(5) {
  width: 10%;
  font-size: 16px;
}

#productsTable th:nth-child(6),
#productsTable td:nth-child(6) {
  width: 20%;
  font-size: 16px;
}

#productsTable th:nth-child(7),
#productsTable td:nth-child(7) {
  width: 10%;
  font-size: 16px;
}

.columnSzerokaja{
    font-size: 16px;
}

.columnSzerokaja th:nth-child(6)
.columnSzerokaja td:nth-child(6){
    width: 5%;
 }
.columnSzerokaja th:nth-child(7)
.columnSzerokaja td:nth-child(7){
    width: 30%;
 }